.registration_form {
    position: absolute;
    width: 50%;
    left: 32em;
}

.title_reg {
    position: relative;
    border-radius: 30px;
    width: 90%;
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    left: 1em;
    box-shadow: 5px 5px 10px 5px #0d6efd1f;
}

.form_reg {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.seen_password-button {
    bottom: 4.3em;
    left: 12.1em;
    position: relative;
}

.reg-button {
    position: relative;
   left: 5em;
}

.back-button {
    position: relative;
    left: 16em;
}

.form-control {
    box-shadow: 5px 5px 5px 3px #0f6ffd42;
}
